{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="col-lg-6 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12">
    <ul>
        <li style="display: inline-block;"><a href="{{ url_for('main.github') }}">GitHub</a></li>
        <li style="display: inline-block;"><a href="{{ url_for('main.devpost') }}">Devpost</a></li>
        <li style="display: inline-block;"><a href="{{ url_for('main.instagram') }}">Instagram</a></li>
        <li style="display: inline-block;"><a href="{{ url_for('main.twitter') }}">Twitter</a></li>
        <li style="display: inline-block;"><a href="{{ url_for('main.medium') }}">Medium</a></li>
        <li style="display: inline-block;"><a href="{{ url_for('main.linkedin') }}">LinkedIn</a></li>
    </ul>
</div>
<div class="col-md-offset-1">
    <object data="{{ url_for('static', filename='Chris-Pryer-Resume.pdf') }}" type="application/pdf" width="100%"
        height="1000px">
        <p>It appears you don't have a PDF plugin for this browser.
            You can <a href="{{ url_for('static', filename='Chris-Pryer-Resume.pdf') }}">click here</a> to
            download the PDF file.</a>
        </p>
    </object>
</div>
{% endblock %}